---
const platform = "github";
const username = "byehus";
const twitter = "twitter";
---

<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <p>
        Follow me on <a href={`https: {twitter}.co} {username}`}>{twitter}</a>
    </p>
</footer>
